/old/
/.env
.idea/
/src/.env
/src/static/
!/src/static/user/default.png
!/src/static/actor/default.png
!/src/static/film/default.png
!/src/static/film/11.png
!/src/static/film/13.png
!/src/static/film/25.png
!/src/static/film/28.png
!/src/static/actor/1.png
!/src/static/actor/2.png
!/src/static/actor/7.png
!/src/static/actor/10.png